<div class="navbar-wagon">
  <div class="navbar-logo">
    <div>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
      <h1>Meditest</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-3 col-md-4 col-md-offset-2">
      <h2>Each year 800 000 people die from fake medicines. <br>Save your life and verify the authenticity of your medicine now</h2>
    </div>
  </div>
</div>

