<div class="bubble-content">
  <div class="bubble-left-block">
    <div class="bubble bubble-important">
      <%= image_tag "doctor.png", class: "bubble-image" %>
      <h3>Our Expert advice :</h3>
      <p>All pharmaceuticals laboratories indicate a datamatrix, a codebar or a 20 digits character code. but you did not give us any of these elements. <br> Therefore, there is a high probability that your drug is not a genuine one. <br> Do not take a risk, contact your pharmacist or distributor for more informations.</p>
    </div>
  </div>
  <div class="bubble-right-block">
    <%= link_to "Back", root_path, class: "bubble bubble-button-yes" %>
    <%= image_tag "user.png", class: "avatar" %>
  </div>
</div>
