<div class="bubble-content">
  <div class="bubble-left-block">
    <div class="bubble bubble-important">
      <%= image_tag "doctor.png", class: "bubble-image" %>
      <h3>Our Expert advice :</h3>
      <p>All pharmaceuticals laboratories indicate one of thses signs. <br> Therefore, there is a high probability that your drug is not a genuine one. <br> Don&#130;t take a risk, contact a pharmacist or distributor for more informations.</p>
    </div>
  </div>
  <div class="bubble-right-block">
    <%= link_to "Back", root_path, class: "bubble bubble-button-yes" %>
    <%= image_tag "user.png", class: "avatar" %>
  </div>
</div>
